body {
  
    background-color: #f7e4e0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  
  #host-link>img {
    width: 100px;
    height: 100px;
  }
  
  #button {
    text-align:center;
  }
  
  #guest-link>img {
    width: 100px;
    height: 100px;
  }
  
  

  .cont {
    margin-top: 200px;
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  }