body {
  
    background-color: #f7e4e0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
  
  #host-link>img {
    width: 100px;
    height: 100px;
  }
  
  #button {
    text-align:center;
  }
  
  #guest-link>img {
    width: 100px;
    height: 100px;
  }
  
  .nom-button {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    width: 125px;
    border-radius: 10px;
    color: #FFF;
    font-family: Arial, sans-serif;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
  }
  .nom-button-orange {
    background-color: #fc5f20;
  }

  .nom-button-blue {
    background-color: #1681fb;
  }
  .nom-button-green {
    background-color: #28bf25;
  }
  .nom-button-gray {
    background-color: #a6a6a6;
  }
  .nom-button-yellow {
    background-color: #ecb229;
  }
  .nom-button-red {
    background-color: #fc0e2a;
  }

  .aspectwrapper {
    width: 100%;
  position: relative;
    /* margin-top: 200px; */
    /* position: relative; */
    /* margin-bottom: 50%; */
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  }

  .aspectspacer {
    width: 100%; /* let the enlarged image height push .aspectwrapper's bottom edge */
  }

  .content {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    outline: thin dashed green;
  }